* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #abbdc6, #3799e4);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat';
}
header {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #2980b9;
  }
}

.secondary-button {
  background-color: #f39c12;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  /* Hover effect */
  &:hover {
    background-color: #d35400;
  }
}

.delivery-fee-calculator {
  width: 400px;
  height: 600px;
  margin: 80px auto 0;
  border-radius: 16px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}

.heading {
  font-size: 24px;
  color: #444;
  margin-bottom: 20px;
}

.input-field {
  margin-bottom: 15px;
}

.input-field input {
  font-size: 18px;
  padding: 10px 15px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  ::placeholder {
    color: #ccc;
  }
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

label {
  margin-bottom: 8px;
  color: #333;
}

input {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #994d1c;
  border-radius: 8px;
  width: 200px;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input:focus {
  border-color: #e48f45;
  box-shadow: #994d1c;
}

button {
  padding: 12px 24px;
  background-color: #202123;
  color: #fff;
  width: 180px;
  height: 48px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6d4428;
}

button:disabled {
  background-color: #414345;
  cursor: not-allowed;
}
@media screen and (min-width: 1560px) {
  .container {
    margin-top: 160px;
  }
}
